<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    
    <p><span th:text="${timestampDate}"></span>: This is notify  Dealer Track sends comment </p>
    
    <p>DealerTrack Appid: </p>
    <p>Date received: </span></p>
    <p>DealerName: </p>
    <p>Customer Name: </span></p>
    <p>Credit Amount: </p>
    <p>Type Customer: </p>
    
  </body>
</html>