<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    
    <p>Issues from customer Data </p>
    
    <p>OTP: <span th:text="${OTP}"></span></p>
    
     <p>Report Issue </p>
      <p><span th:text="${report}"></span></p>
    
     <p>Invitation link </p>
    <a th:href="${URL}">Click Here</a>
    
  </body>
</html>